<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Index of Test Files for %TITLE%</title>
  <link rel="author" title="Jon Gunderson" href="mailto:jongund@illinois.edu">
</head>
<body>
  <h1>Index of Test Files for %TITLE%</h1>
  <ul>
    %TEST_LIST%
  </ul>
</body>
