<!DOCTYPE html>
<meta charset="utf-8">
<title>%TITLE%</title>
<link rel="author" title="Valerie Young" href="mailto:valerie@bocoup.com">
%REFERENCES%
<script type="module">
  import { verifyATBehavior, displayTestPageAndInstructions } from "../resources/aria-at-harness.mjs";

  verifyATBehavior({
    %SETUP_TEST_PAGE%
    applies_to: ["%APPLIES_TO%"],
    mode: ["%MODE%"],
    task: "%TASK%",
    specific_user_instruction: "%INSTRUCTIONS%",
    output_assertions: [
%ASSERTIONS%
    ]
  });

  displayTestPageAndInstructions("%EXAMPLE%");

</script>
