<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test Patterns for Review</title>
    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      table, td, th {
        border: 1px solid black;
      }

      th {
        padding: 1em;
      }

      td {
        padding: .5em;
      }

      td > p {
        margin: 0;
      }

      tr:not(:first-of-type) th {
        padding: .5em;
        text-align: left;
      }

    </style>
  </head>
  <body>

    <h1>Test Patterns for Review</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Pattern</th>
        <th>Index Page</th>
        <th>Review Page</th>
        <th>Number of Tests</th>
        <th>Commit of Last Change</th>
      </tr>
      {{#patterns}}
          <tr>
            <th>{{title}}</th>
            <td>{{patternName}}</td>
            <td><a href="./tests/{{patternName}}/index.html" aria-label="Index: {{patternName}}">Index</a></td>
            <td><a href="./review/{{patternName}}.html" aria-label="Review: {{patternName}}">Review</a></td>
            <td><p aria-label="Number of Tests: {{numberOfTests}}">{{numberOfTests}}</p></td>
            <td><a href="https://github.com/w3c/aria-at/commit/{{commit}}" target="_blank">{{commitDescription}}</a></td>
          </tr>
      {{/patterns}}
    </table>

  </body>
</html>
