<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} Test Plan | For Pattern: {{pattern}}</title>
    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      table, td, th {
        border: 1px solid black;
      }

      td {
        padding: .5em;
      }

    </style>
    <script type="module">
      import {TestWindow} from '../../resources/aria-at-test-window.mjs';

      function numberTests(value) {
        let testNumber = 0;
        let titleTextChanged = false;
        let buttonTextChanged = false;

        for (let result of document.querySelectorAll(value)) {
          result.style.display = 'block';

          if (titleTextChanged && buttonTextChanged) {
            testNumber += 1;

            titleTextChanged = false;
            buttonTextChanged = false;
          }

          if (result.nodeName === 'H2') {
            result.innerText = result.innerText.replace(/^Test\s\d+:/g, `Test ${testNumber + 1}:`);
            titleTextChanged = true;
          }

          if (result.nodeName === 'BUTTON') {
            result.value = `Open Test ${testNumber + 1} Page`;
            result.innerText = `Open Test ${testNumber + 1} Page`;
            buttonTextChanged = true;
          }
        }

        let reviewPageTitle = document.querySelector('h1');
        reviewPageTitle.innerText = reviewPageTitle.innerText.replace(/\(\d+\stest(s|)\)/g, `(${testNumber} test${testNumber !== 1 ? 's': ''})`);
      }

      window.filterATs = function(button) {
        const val = button.value;

        if (val === 'all') {
          for (let at of document.querySelectorAll('input')) {
            if (at.value !== 'all') {
              for (let result of document.querySelectorAll(`.${at.value}`)) {
                result.style.display = 'block';
              }
              at.checked = false;
            }
            else {
              at.checked = true;
            }
          }
          numberTests('.nvda, .jaws, .voiceover_macos');
        }
        else {
          for (let at of document.querySelectorAll('input')) {

            if (at.value === val) {
              at.checked = true;
            }
            else {
              at.checked = false;
            }

            for (let result of document.querySelectorAll(`.${at.value}`)) {
              result.style.display = 'none';
            }
          }
          numberTests(`.${val}`);
        }
      };

      var scripts = {
        {{{setupScripts}}}
      };

      window.openTestPage = function(testPageUri, testNumber, setupScriptName) {
        var openTestPageElement = document.getElementById('open-test-page-' + testNumber);

        var testWindow = new TestWindow({
          pageUri: testPageUri,
          setupScriptName,
          scripts,
          hooks: {
            windowOpened() {
              openTestPageElement.disabled = true;
            },
            windowClosed() {
              openTestPageElement.disabled = false;
            }
          }
        });
        testWindow.open();
      };
    </script>
  </head>
  <body>
    <h1>{{h1Heading}}</h1>

    <fieldset>
      <legend>Filter tests by covered assistive technology</legend>
      <input type="radio" onclick="filterATs(this)" id="all" value="all" checked><label for="all">All assistive technologies</label>
      {{#atOptions}}
      <input type="radio" onclick="filterATs(this)" id="{{key}}" value="{{key}}"><label for="{{key}}">{{name}}</label>
      {{/atOptions}}
    </fieldset>

    <h2>Supporting Documentation</h2>
    <ul>
      {{#supportingDocs}}
      <li><a href="{{link}}">{{text}}</a></li>
      {{/supportingDocs}}
    </ul>

    {{#tests}}
    <h2 class="{{allRelevantATsSpaceSeparated}}">Test {{testNumber}}: {{{name}}}</h2>
    <ul class="{{allRelevantATsSpaceSeparated}}">
      <li>Last Edited: {{lastEdited}}</li>
      <li>Tests:
        <ul>
          {{#allRelevantATs}}
            <li><a href="../tests{{{location}}}?at={{key}}">{{name}}</a></li>
          {{/allRelevantATs}}
        </ul>
      </li>
      {{#helpLinksExist}}
      <li>{{helpLinksTitle}}
        <ul>
          {{#helpLinks}}
              <li><a href="{{link}}">{{text}}</a></li>
          {{/helpLinks}}
        </ul>
      </li>
      {{/helpLinksExist}}
    </ul>

    <button id="open-test-page-{{testNumber}}" class="{{allRelevantATsSpaceSeparated}}"
        onclick="openTestPage('../tests{{reference}}', {{testNumber}}, '{{setupScriptName}}');">Open Test {{testNumber}} Page</button>

      {{#atTests}}
      <div class="{{atKey}}">
        <h3>{{atName}}</h3>
        <h4>Instructions</h4>
        <ol>
          <li>{{{defaultConfigurationInstructions}}}</li>
          <li>{{{openExampleInstructions}}}</li>
          <li>{{userInstruction}}
            <ul>
              {{#commandsValuesForInstructions}}
                <li>{{.}}</li>
              {{/commandsValuesForInstructions}}
              {{^commandsValuesForInstructions}}
                <li>No commands have been added for this test for {{atName}}. Add commands to the relevant assistive technologies.</li>
              {{/commandsValuesForInstructions}}
            </ul>
          </li>
        </ol>
        {{#modeInstructions}}
          <p>{{screenText}}</p>
          <ol>
            {{#instructions}}
              <li>{{{.}}}</li>
            {{/instructions}}
          </ol>
        {{/modeInstructions}}
        {{#assertionsForCommandsInstructions}}
          <h4 id="{{elemId}}">{{value}}: {{mustCount}} MUST, {{shouldCount}} SHOULD, AND {{mayCount}} MAY assertions</h4>
          <table aria-labelledby="{{elemId}}">
            <tr>
              <th>Priority</th>
              {{#isV2}}
              <th>Assertion Phrase</th>
              {{/isV2}}
              <th>Assertion Statement</th>
            </tr>
            {{#assertionsInstructions}}
              {{#priority}}
                <tr>
                  <td>{{priority}}</td>
                  {{#isV2}}
                  <td>{{assertionPhrase}}</td>
                  {{/isV2}}
                  <td>{{assertionStatement}}</td>
                </tr>
              {{/priority}}
            {{/assertionsInstructions}}
            {{^assertionsInstructions}}
            <tr><td colspan="3">No assertions have been listed for {{atName}}. Add assertion or update the relevant assistive technologies.</td></tr>
            {{/assertionsInstructions}}
          </table>
        {{/assertionsForCommandsInstructions}}
      </div>
      {{/atTests}}
    {{/tests}}
  </body>
</html>
