<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>Test patterns for review</title>
    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      table, td, th {
        border: 1px solid black;
      }

      th {
        padding: 1em;
      }

      td {
        padding: .5em;
      }

    </style>
    <script>
    </script>
  </head>
  <body>

    <h1>Test Patterns for Review</h1>

    <table>
      <tr><th>Pattern</th><th>Index Page</th><th>Review Page</th></tr>
      {{#patterns}}
          <tr>
            <td>{{.}}</td>
            <td><a href="./tests/{{.}}/index.html">Index</a></td>
            <td><a href="./review/{{.}}.html">Review</a></td>
          </tr>
      {{/patterns}}
    </table>

  </body>
</html>
