<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>Test Patterns for Review</title>
    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      table, td, th {
        border: 1px solid black;
      }

      th {
        padding: 1em;
      }

      td {
        padding: .5em;
      }

    </style>
    <script>
    </script>
  </head>
  <body>

    <h1>Test Patterns for Review</h1>

    <table>
      <tr>
        <th>Pattern</th>
        <th>Index Page</th>
        <th>Review Page</th>
        <th>Number of Tests</th>
      </tr>
      {{#patterns}}
          <tr>
            <td>{{name}}</td>
            <td><a href="./tests/{{name}}/index.html">Index</a></td>
            <td><a href="./review/{{name}}.html">Review</a></td>
            <td>{{numberOfTests}}</td>
          </tr>
      {{/patterns}}
    </table>

  </body>
</html>
