<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>Test patterns for review</title>
    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      table, td, th {
        border: 1px solid black;
      }

      td {
        padding: .5em;
      }

    </style>
    <script>
    </script>
  </head>
  <body>

    <h1>Test patterns for review</h1>

    <ul>
      {{#patterns}}
          <li>{{.}}</i>
      {{/patterns}}
    </ul>

  </body>
</html>
