<!DOCTYPE html>
<html>
  <head>
    <title>Test plan review for pattern: {{pattern}}</title>
    <style>
      table {
        border-collapse: collapse;
        margin-bottom: 1em;
      }

      table, td, th {
        border: 1px solid black;
      }

      td {
        padding: .5em;
      }

      button[value="all"] {
        display: block;
      }
    </style>
    <script>
      const filterATs = function(button) {
        const val = button.value;

        if (val === 'all') {
          document.querySelector('#ats-selected').innerHTML = "Viewing tests for all assitive technologies.";

          for (let at of document.querySelectorAll('button')) {
            if (at.value !== 'all') {
              for (let result of document.querySelectorAll(`.${at.value}`)) {
                result.style.display = 'block';
              }
            }
            else {
              at.style.display = 'none';
            }
          }
        }
        else {
          document.querySelector('#ats-selected').innerHTML = `Viewing only tests for ${val}.`;

          for (let at of document.querySelectorAll('button')) {

            if (at.value === 'all') {
              at.style.display = 'block';
              continue;
            }

            for (let result of document.querySelectorAll(`.${at.value}`)) {
              result.style.display = 'none';
            }
            for (let result of document.querySelectorAll(`.${val}`)) {
              result.style.display = 'block';
            }

          }
        }
      }
    </script>
  </head>
  <body>

    <h1>Test plan review for pattern: {{pattern}} ({{totalTests}} tests)</h1>

    <div>
      <p id="ats-selected">Viewing tests for all assitive technologies.</p>
      <button onclick="filterATs(this)" value="all">Show tests for all assistive technologies</button>
      {{#AToptions}}
      <button onclick="filterATs(this)" value="{{.}}">Show tests for {{.}}</button>
      {{/AToptions}}
    </div>

    {{#tests}}
    <h2>Test {{testNumber}}: {{{name}}}</h2>
    <p>
      <ul>
        <li>Mode: {{mode}}</i>
        <li>Applies to: {{allReleventATs}}</li>
	<li>Lasted edited: {{lastEdited}}
        <li>File: <a href="https://github.com/w3c/aria-at/tree/master/tests{{{location}}}">{{{location}}}<a></li>
        <li>Relevant Specifications:
          <ul>
            {{#helpLinks}}
              <li><a href="{{.}}">{{.}}</a></li>
            {{/helpLinks}}
          </ul>
        </li>
      </ul>
    </p>
      {{#ATTests}}
      <div class="{{atName}}">
        <h3>{{atName}}</h3>
        <h4>Instructions</h4>
        <p>
          <ol>
             <li>{{modeInstruction}}</li>
             <li>Then, perform the task "{{userInstruction}}" using the following commands:
               <ul>
                 {{#commands}}
                   <li>{{.}}</li>
                 {{/commands}}
                 {{^commands}}
                   <li>No commands have been added for this test for {{atName}}. Add commands, or, update the "applies_to" to list only the relevent assitive technologies.</li>
                 {{/commands}}
               </ul>
             </li>
          </ol>
        </p>
        <h4>Assertions</h4>
        <table>
          <tr><th>Priority</th><th>Assertion</th></tr>
          {{#assertions}}
            <tr><td>{{priority}}</td><td>{{description}}</td></tr>
          {{/assertions}}
          {{^assertions}}
            <tr><td colspan="2">No assertions have been listed for {{atName}}. Add assertion or update the "applies_to" to list only the relevent assistive technologies.</td></tr>
          {{/assertions}}
        </table>
      </div>
      {{/ATTests}}
    {{/tests}}

  </body>
</html>
