* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  background: #C1FFC1;
  padding: .5em;
  margin: 0;
}

.content {
  padding: 1rem;
}

#testfile {
  display: block;
  height: 60vh;
  width: 90vw;
}

.design-pattern-options {
  padding-left: 2em;
}

.test-details {
  font-size: 14px;
  color: #004d00;
  padding-left: 1.75em;
}

.ua {
  color: #004d00;
}

.select-test-list {
  list-style-type: none;
  margin: 0;
}

.select-test-item {
  padding-bottom: 1em;
}

.select-test-item label {
  padding-left: .25em;
}

.configuration-item {
  padding-bottom: 1em;
}

.results-table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

.results-table, .results-table td, .results-table th {
  border: 1px solid black;
}

.results-table td {
  padding: .5em;
}
