name: Generate and Commit Files

on: [pull_request, pull_request_target]

jobs:
  generate-and-commit-files:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Install dependencies
      run: yarn --frozen-lockfile

    - name: Generate test files
      run: yarn create-all-tests

    - name: Generate review files
      run: yarn review-tests

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Generate test and review files automatically
