name: Generate and Commit Files

on:
  pull_request:

jobs:
  generate-and-commit-files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/head
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '12.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate test and review files
        run: npm run build

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          commit_message: Generate test and review files automatically

  generate-files-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/head
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '12.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate test and review files
        run: npm run build
