name: Lint JS

on:
  push:
    paths:
      - "**/*.js"
      - "package*.json"
      - ".eslintrc.json"
      - ".github/workflows/js-lint.yml"
    branches-ignore:
      - "dependabot/**"
  pull_request:
    paths:
      - "**/*.js"
      - "package*.json"
      - ".eslintrc.json"
      - ".github/workflows/js-lint.yml"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '12.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Run linter
      run: npm run lint
