name: "Update Pull Request"

on: pull_request

jobs:
  update_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: tzkhan/pr-update-action@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        head-branch-regex: '.*'
        title-template: ''
        body-template: '[Preview Tests](https://raw.githack.com/w3c/aria-at/%headbranch%/index.html)'
        body-update-action: prefix
